<%- include("../partials/header") -%>
    <header class="jumbotron">
        <h1>Fixtures</h1>
        <a href="/fixture/new" class="btn btn-primary">Create a New Fixture</a>
        <a href="/fixture/auto" class="btn btn-primary">Auto Generate Fixtures for the Week</a>
    </header>
    <div class="container">
        <div class="form-group">
            <label for="">From:</label>
            <input type="date" name="date" value="<%= moment().startOf("week").format("YYYY-MM-DD") %>" min="<%= moment("2023-01-17").format("YYYY-MM-DD")%>" id="fixtures-date-from" class="form-control">
            <label for="">To:</label>
            <input type="date" name="date" value="<%= moment().format("YYYY-MM-DD") %>" id="fixtures-date-to" class="form-control">
        </div>
        <main>
            <ol>
                <% fixtures.forEach((fixture)=> { %>
                    <form action="/fixture/<%= fixture._id %>?_method=DELETE" method="POST">
                        <li class="h6">
                            <span class="h6">
                                <%= fixture.homeTeam.name %>
                            </span>
                            <span class="h6 mx-3">
                                VS
                            </span>
                            <span class="h6">
                                <%= fixture.awayTeam.name %>
                            </span>
                            <div class="h6">
                                (<%= moment(fixture.date).format("DD-MM-YYYY") %>)
                            </div>
                            <div class="d-flex">
                                <a href="/result/<%= fixture._id %>/check" class="btn btn-sm btn-outline-primary mr-2">Set or view Result</a>
                                <input type="submit" value="Delete Fixture" class="btn btn-sm btn-outline-danger ml-2">
                            </div>
                        </li>
                        <hr>
                    </form>
                <% }) %>
            </ol>
        </main>
    </div>

<%- include("../partials/footer") -%>
